:root {
  --bgTheme: #7E969E;
  --bgMenu: #323639;
  --bgSubmenu: #474B4F;
  --bgMenuFocus: #5D96BA;
  --bgBody: #F3F5F9;
}

html, body {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: var(--bgBody);
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  height: 50px;
  background: var(--bgTheme);
  padding: 0 20px;
  color: white;
}

.header h1 {
  margin: 0;
  margin-left: 20px;
}

.content {
  flex: 1;
}

.menu {
  width: 15%;
  min-width: 200px;
  height: 100%;
  background: var(--bgMenu);
  padding: 10px 0;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li a:hover, .active {
  background: var(--bgMenuFocus);
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: block;
  line-height: 1.5rem;
  padding: 5px 15px;
}

.menu .fas {
  margin-right: 10px;
  line-height: 1.5rem;
}

.menu .fa-chevron-right {
  float: right;
  margin-right: 0;
  line-height: 1.5rem;
}

.menu ul ul a {
  background: var(--bgSubmenu);
  padding-left: 45px;
}

.menu ul ul {
  display: none;
}

.menu input {
  display: none;
}

.menu ul li label input:checked ~ ul {
  display: block;
}

.footer {
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: var(--bgTheme);
  color: black;
}

.footer a {
  margin-left: 10px;
  color: black;
  text-decoration: none;
}

.footer i {
  margin-right: 5px;
  line-height: 1rem;
}
