{% extends 'template.twig' %}
{% block content %}
  <div class="menu">
    <ul>
      <li>
        <a href="#">Inicio</a>
      </li>
      <li>
        <a href="#">Clientes</a>
      </li>
      <li>
        <a href="#">Empleados</a>
      </li>
      <li>
        <a href="#">Productos</a>
      </li>
      <li>
        <a href="#">Configuración</a>
      </li>
    </ul>
  </div>
{% endblock %}
