{% extends 'template.twig' %}
{% block content %}
  <div class="menu">
    <ul>
      <li>
        <a href="#"><i class="fas fa-home"></i>Inicio</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-user-friends"></i>Clientes<i class="fas fa-chevron-right"></i></a>
        <ul>
          <li>
            <a href="#">Crear nuevo</a>
          </li>
          <li>
            <a href="#">Administar</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fas fa-user-tie"></i>Empleados<i class="fas fa-chevron-right"></i></a>
        <ul>
          <li>
            <a href="#">Crear nuevo</a>
          </li>
          <li>
            <a href="#">Administar</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fas fa-gift"></i>Productos<i class="fas fa-chevron-right"></i></a>
        <ul>
          <li>
            <a href="#">Crear nuevo</a>
          </li>
          <li>
            <a href="#">Administar</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fas fa-cog"></i>Configuración</a>
      </li>
    </ul>
  </div>
{% endblock %}
